body {
    width: 100%;
}

.container {
    width: 100%;
    display: inline-block;
}

#content {
    width: 100%;
    background: #eee;
    display: table;
}

.targetsFlashCards {
    /* For breakpoint `-xs` */
    /* For breakpoint `-sm` */
    /* For breakpoint `-md` */
    /* For breakpoint `-gt-md` */
}

.targetsFlashCards md-whiteframe-container {
    /* background: #fff; */
}

@media (max-width: 599px) {
    .targetsFlashCards md-whiteframe {
        margin: 5px;
        height: 250px;
        background-color: #c8e4fa;
    }
    .targetsFlashCards md-whiteframe-container > span {
        font-size: 0.8em;
    }
}

@media (min-width: 600px) and (max-width: 1279px) {
    .targetsFlashCards md-whiteframe {
        margin: 7px;
        height: 350px;
        background-color: #ffb7eb;
    }
    .targetsFlashCards md-whiteframe-container > span {
        font-size: 0.9em;
    }
}
/*
@media (min-width: 960px) and (max-width: 1279px) {
    .targetsFlashCards md-whiteframe-container {
        margin: 20px;
        height: 90px;
        background-color: #fcddde; }
    .targetsFlashCards md-whiteframe-container > span {
        font-size: 0.9em; } }
*/
@media (min-width: 1280px) {
    .targetsFlashCards md-whiteframe-container {}
    .targetsFlashCards md-whiteframe {
        margin: 10px;
        height: 400px;
        background-color: #F2FCE2;
    }
    .targetsFlashCards md-whiteframe-container > span {
        font-size: 1.0em;
    }
}

